/* list view */

.entry_line div {
	display: inline-block;
	padding: 5px;
	width: 10%;
}

.entry_line_odd {
	background-color: #e8e8e8;
}

div.entry_line_large {
	width: 30%;
}


.entry_line_large input.in_search {
	width: 90%;
}

input.in_search {
	width: 80%;
}

.btn_search {
	cursor: pointer;
}

div.entry_line_medium {
	width: 20%;
}

.entry_header {
	background-color: #d3d3d3;
}

.inline_form {
	display: inline;
}

/* entry view */

div.entry_input {
	display: block;
	margin: 5px;
}

.hint {
	font-size: small;
	color: gray;
}

span.in_label {
	display: inline-block;
	width: 120px;
}

div.entry_input_block {
	float: left;
	margin: 10px;
}

div.entry_input_footer {
	clear: left;
	margin: 15px;
}

/* common */

.message {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.message_success {
	background-color: #98FB98;
}

.message_error {
	background-color: #FA5D5D;
}

.navigation {
	font-size: small;
	margin: 5px 5px 10px 5px;
}
