.entry_line>div {
	display: inline-block;
	padding: 5px;
	width: 15%;
}

.entry_header {
	background-color: #d3d3d3;
}

div.entry_input {
	display: block;
	margin: 5px;
}

div.entry_input span {
	display: inline-block;
	width: 120px;
}

div.entry_input_block {
	float: left;
	margin: 10px;
}

div.entry_input_footer {
	clear: left;
	margin: 15px;
}

.message {
	padding: 10px;
	border-radius: 5px;
}

.message_success {
	background-color: #98FB98;
}

.message_error {
	background-color: #FA5D5D;
}
